name: Python CI Template

on:
  workflow_call:
    inputs:
      python_versions:
        required: true
        type: string
      working_directory:
        required: true
        type: string

jobs:
  python-ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python: ${{ fromJson(inputs.python_versions) }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          echo $PWD
          pip install -r requirements.txt
        working-directory: ${{ inputs.working_directory }}

      - name: Run tests
        run: |
          export PYTHONPATH = $PWD
          pytest -v
        working-directory: ${{ inputs.working_directory }}
