name: Terraform Matrix Template

on:
  workflow_call:
    inputs:
      terraform_versions:
        required: true
        type: string
      os_list:
        required: true
        type: string
      twd:  # terraform working directory
        required: true
        type: string

    #ading secrets
    secrets:
      AWS_ROLE_ARN:
        required : true

#for the oidc
permissions:
  id-token: write
  contents: read


jobs:
  called_workflow_terraform-ci:
    name: Terraform (${{ matrix.os }} / TF ${{ matrix.tf_version }}) #the name: automatic
    runs-on: ${{ matrix.os }}

    #matrix strategy
    strategy:
      fail-fast: false  # do not exit when one fails, continue the next iteration
      matrix:
        os: ${{ fromJson(inputs.os_list) }}
        tf_version: ${{ fromJson(inputs.terraform_versions) }}

    #enable ci automation mode
    env:
      TF_IN_AUTOMATION: true
      TF_INPUT: false

    steps:
      #grant aws access with this role
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: eu-central-1
          #clone the repo
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ matrix.tf_version }}

      - name: Cache Terraform providers
        uses: actions/cache@v4
        with:
          path: ~/.terraform.d/plugin-cache
          key: terraform-${{ runner.os }}-${{ matrix.tf_version }}-${{ hashFiles('**/*.tf') }}

      - name: Terraform Init
        run: terraform init
        working-directory: ${{ fromJson(inputs.twd) }}

      - name: Terraform Format Check
        run: terraform fmt -check -recursive
        working-directory: ${{ fromJson(inputs.twd) }}

      - name: Terraform Validate
        run: terraform validate
        working-directory: ${{ fromJson(inputs.twd) }}

      - name: Terraform Plan
        run: terraform plan
        working-directory: ${{ fromJson(inputs.twd) }}
